.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 4rem;
}

#eu {
  width: 100%;
  display: flex;
}
#eu section {
  height: 40rem;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 50px;
}
#eu section h3 {
  font-size: 60px;
  color: #2603c0;
}
#eu section h1 {
  font-size: 50px;
}
#eu section p {
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 25px;
}
#eu section a {
  text-decoration: none;
  background-color: #2603c0;
  color: #fff;
  padding: 20px;
  margin-right: 49rem;
  text-align: center;
  border-radius: 12px;
  font-size: 20px;
  transition: 0.5s;
}
#eu section a:hover {
  border: 1px solid #2603c0;
  background-color: #fff;
  color: #2603c0;
}
#eu img {
  width: 40%;
  height: 40rem;
  border-radius: 12px;
  border-radius: 50% 100%;
  margin-right: 50px;
}
#eu img:hover {
  transform: scale(1.01);
  border-left: 3px solid #2603c0;
  border-right: 3px solid #2603c0;
}

#ferramentas {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 35px;
}
#ferramentas p {
  font-size: 40px;
  text-align: center;
  color: #2603c0;
}
#ferramentas #box-img {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.modelboxtecnologia {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  margin: 1rem;
}
.modelboxtecnologia button {
  max-width: 100px;
  width: 100%;
  height: 3rem;
  margin-bottom: 1rem;
  border: none;
  font-weight: bold;
  cursor: pointer;
}
.modelboxtecnologia .tecnologialist {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.modelboxtecnologia .tecnologialist span {
  margin-bottom: 0.5rem;
}

#contato {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 50px;
}
#contato img {
  width: 50%;
}
#contato form {
  width: 40%;
  display: flex;
  flex-direction: column;
  border: 2px solid #2603c0;
  border-radius: 10% 40%;
  padding: 80px;
  text-align: center;
}
#contato form p {
  font-size: 30px;
  color: #2603c0;
  margin-bottom: 20px;
}
#contato form label {
  font-size: 20px;
  color: #2603c0;
}
#contato form input, #contato form textarea {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 12px;
  border: none;
  border-top: 1px solid #2603c0;
  border-bottom: 1px solid #2603c0;
  outline: 0;
  transition: 0.5s;
}
#contato form input:hover, #contato form textarea:hover {
  transform: scale(1.01) translateY(-5px);
  border-bottom: 3px solid #2603c0;
  border-top: 3px solid #2603c0;
}
#contato form .Enviar {
  background-color: #2603c0;
  color: #fff;
  font-size: 18px;
  transition: 0.6s;
}
#contato form .Enviar:hover {
  transform: scale(1.01) translateY(-5px);
  background-color: #fff;
  color: #2603c0;
}

@media only screen and (max-width: 800px) {
  #eu {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  #eu section {
    text-align: center;
    align-items: center;
    margin-top: 12px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    width: 100%;
    height: 50%;
    justify-content: flex-start;
  }
  #eu section h3 {
    font-size: 40px;
  }
  #eu section p {
    font-size: 20px;
  }
  #eu section a {
    margin-left: 5rem;
    margin-right: 5rem;
    padding: 20px 50px;
  }
  #eu img {
    margin-top: 14px;
    -webkit-clip-path: none;
            clip-path: none;
    width: 80%;
    height: 50%;
    margin-right: 0px;
  }
  #servico .container-servico {
    flex-direction: column;
  }
  #servico .container-servico .box {
    margin-bottom: 12px;
  }
  #ferramentas .box-img .img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
  }
  #contato {
    flex-direction: column;
  }
  #contato form {
    width: 80%;
    padding: 30px;
    border-radius: 20px;
  }
}/*# sourceMappingURL=style-home.css.map */