footer{
    margin-top: 2rem;
    background-color: var(--fundo);
    padding: 12px;
    height: 6rem;

    display: flex;
    align-items: center;
    justify-content: space-around;

    color: var(--letra-branca);
}

.redes-sociais{
    width:20%;
    height: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;

    img{
        width:60%;
    }
}

@media only screen and (max-width: 800px){
    footer{
        flex-direction: column;
    }
    .redes-sociais{
        width: 50%;
        margin-bottom: 10px;
        img{
            width: 100%;
        }
    }
}

